# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env

# typescript
*.tsbuildinfo
next-env.d.ts

# logs
/logs
/logs/*
*.log

# uploads directory - contains temporary and processed files
/uploads
/uploads/*
/uploads/**/*

# /public/files/*
# /public/files/**/*